body {
	background-color:#47c0f3;
	font-family:Verdana, sans-serif;
	text-align: center;
	padding:0;
	margin:0;
}

@font-face {
  font-family: 'Brusher';
    src:  url('webfont/Brusher.ttf.woff') format('woff'),
    url('webfont/Brusher.ttf.svg#Brusher') format('svg'),
    url('webfont/Brusher.ttf.eot'),
    url('webfont/Brusher.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

/* AREA DEFINITION */ 

#main-area {
	padding:0;
	margin:0;
	height:100vh;
	background-image:url('background-white.jpg');
	position:relative;
	z-index:2;
	margin-bottom:400px;
	box-shadow:0 0 15px grey;
}

#usps {
	position:fixed;
	z-index:-1;
	height:400px;
	width:100%;
	bottom:0;
	background-color:#47c0f3;
	color:white;
	margin-top:50px!important;
}

.container {
	width:80%;
	margin:auto;
	padding:2em 0;
}

.tier {
	width:32%;
	float:left;
	text-align:center;
}

.tier i {
	font-size:2em;
}

.tier p {
	font-size:0.9em;
	width:85%;
	margin:auto;
	margin-top:0.5em;
	line-height:1.5;
}

.tier-center {
	margin-left:2%;
	margin-right:2%;
}


/* FONT STYLE */ 

.brusher {
  font-family: 'Brusher'; 
  font-weight:normal;
  font-size:2em;
  margin:0;
}

/* LOGO */

#logo {
	padding-top: 10vh!important;
	height: 145px;
	width:100px;
	margin:auto;
	position:relative;
}

#logo-img {
	max-width:100%;
	height:auto;
}

#logo-text {
	position:absolute;
    top: 20vh;
    width: 400px;
    left: -150px
}

/* FORM */

.lead {
	padding-bottom: 1em;
	color:#4A4A4A;
}

#suscribe-form {
	width:400px;
	margin:auto;
	background-color:white;
}

@media screen and (max-width: 850px) {

	#logo { 
		width:100px;
		padding-top:1vh!important;
	}

	#main-area {
		height:auto;
		padding-bottom: 10vh;
		margin-bottom:0;
	}

	#usps {
		position:relative;
		z-index:-1;
		height:auto;
		width:100%;
		bottom:0;
		background-color:#47c0f3;
		color:white;
		margin-top:50px!important;
		padding-bottom:200px;
	}

	#logo-text {
		top: 80px;
    	width: 300px;
    	left: -100px;
	}

	#suscribe-form {
		width:95%!important;
		margin:auto!important;
	}

	.tier {
		float:none;
		width:95%;
		margin:auto;
		margin-bottom:2em;
	}

	.tier p {
		width:100%;
	}
	
	.tier img {
		max-width:100%;
	}
}
